/* Algerya font style link */
@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500;600;700;800&display=swap');

/* root specs */
:root {
  font-size: 62.5%;
  --coldark: #1d1914;
  --colblack: #000000;
  --collight: rgb(179, 175, 144);
  --colmellow: rgb(192, 185, 130);
  --colmellowGradient: rgba(206, 201, 163, 0.6);
  --colwhiteGradient: rgba(255, 255, 255, 0.5);
  --colwhite: rgb(255, 255, 255);
  --colmedium: rgba(33, 71, 62, 0.9);
  --colcontrast: rgb(153, 105, 8);
  --text-margin: 1.5rem 0;
  --button-padding: 0.9rem 1.4rem;
  --regular-radius: 0.5rem;
  --card-shadow-dark: 0px 1px 2px 0px rgba(26, 27, 27, 0.7),
    1px 2px 4px 0px rgba(43, 42, 41, 0.6),
    2px 4px 8px 0px rgba(31, 30, 29, 0.6),
    2px 4px 16px 0px rgba(20, 20, 20, 0.6);
  --card-shadow-light: 0px 1px 2px 0px rgba(223, 235, 235, 0.7),
        1px 2px 4px 0px rgba(241, 239, 237, 0.6),
        2px 4px 8px 0px rgba(231, 228, 225, 0.6),
        2px 4px 16px 0px rgba(240, 236, 236, 0.6);
}

/* apply to all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100vw;
  color: var(--coldark);
  font-family: 'Alegreya', serif;
  background-color: var(--colmellow);
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
  overflow-x: hidden;
}

header{
  width: 100%;
  max-height: 80vh;
  background-color: var(--colmedium);
  position: relative;
}

.plant-display{
  position: absolute;
  z-index: 2;
  top: -10%;
  left: -5%;
}
.header-width-position{
  width: 80%;
  height: 50rem;
  background-color: var(--collight);
  margin: auto;
  transform: translateY(7%);
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  position: relative;
  box-shadow: var(--card-shadow-dark);
}

.headerbtns{
  position: absolute;
  width: 100%;
  bottom: 20%;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
.headerbtns button{
  background: transparent;
  border: none;
}
.headerbtns button i{
  font-size: 2.5rem;
  color: var(--coldark);
  transition: .2s;
}
.headerbtns button i:hover {
  font-size: 3rem;
}
.header-content{
  flex-basis: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 2rem;
  }
 .header-content img{
  margin-top: 2rem;
  width: 20rem;
  justify-self: start;
}
.header-content-main{
  text-align: left;
  font-size: 1.7rem;
  transform: translateX(10%);
  width: 80%;
}
.header-content-main h1{
  font-size: 5rem;
  line-height: 1;
  color: var(--colmedium);
  margin: 2rem 0;
}

.social ul{
  display: flex;
}
.social ul li{
list-style: none;
margin: 0 1.5rem;
background-color: var(--colmedium);
padding: 2rem;
border-radius: 150px 150px 150px 80px / 50px 150px 150px 135px;
}
.social ul li:hover{
background-color: var(--colcontrast);
}
.social ul li a{
color: var(--collight);
font-size: 1.8rem;
}
.social ul li a:hover {
  color: var(--coldark);
}
.header-img{
  flex-basis: 50%;
  height: 100%;
}
.header-img img{
  width: 75%;
  height: 100%;
}

.intro{
  width: 100%;
  font-size: 3rem;
  line-height: 1;
  background: linear-gradient(rgba(165, 163, 163, 0.7), rgba(163, 155, 92, 0.4));
  background-position: 20% 20%;
  background-repeat: no-repeat;
  background-size: cover;
}
.intro h1{
  padding: 6rem;
  font-size: 6rem;
  color: var(--colcontrast);
  text-shadow: 0 0.5rem 0.3rem var(--collight)
}

.most-liked{
  background-color: var(--colmedium);
  /* padding: 2rem 0; */

}
.most-liked-width{
  width: 80%;
  margin:auto;
  display: flex;
  flex-wrap: wrap;

}
.most-liked-card{
  color: var(--coldark);
  width: 30rem;
  height: 30rem;
  background-color: var(--colmellowGradient);
  border-radius: var(--regular-radius);
  margin: 1rem;

}
.most-liked-card img{
  width: 100%;
  height: 100%;
}
.most-liked-card p{
  margin:5.5rem 0;
  font-weight: 600;
  padding: 2rem;
  font-size: 2rem;

}
.btn-dark.btn{
background-color: var(--collight);
color: var(--coldark);
}


.most-liked-width.container{
padding: 2rem;
}

.container-card-holder{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
  
}
.container-card{
  width: 40%;
  max-width: 30rem;
  height: 30rem;
  background-color: var(--colmellowGradient);
  border-radius: var(--regular-radius);
  margin: 1rem;
  overflow: hidden;
  background-color: var(--colwhiteGradient);
  box-shadow: 0 0.6rem 1rem var(--coldark);
}

.container-card img {
  width: 100%;
  height: 70%;
}
.container-card button{
  margin: 1rem;
}

.container-card-holder.withoutDits {
  width: 40%;
  max-width: 30rem;
  height: 30rem;
}

.container-card.withoutDits {
  width: 100%;
  height: 100%;
}
.container-card-details {
  background-color: var(--colmedium);
  color: var(--colwhite);
  padding: 2rem;
  border-radius: var(--regular-radius);
  text-align: center;
  text-transform: capitalize;
  width: 60%;
  font-size: 1.6rem;
  height: 30rem;
  margin: 1rem;
  box-shadow: var(--card-shadow-light);

}

.invisible {
  display: none;
}



.container-card-details h4 {
  font-size: 2rem;
}
.container-card-details h2 span, .container-card-details h4{
  color: var(--colcontrast);
}
.container-card-details h4 span{
  color: var(--colwhite);
  font-size: 1;
}



.other-plants-intro{
  /* margin: 2rem 0; */
  line-height: 1.1;
  font-size: 3rem;
}
.other-plants-intro h2{
  margin-top: 2rem;
}
.other-plants-intro h5 {
  margin: 1rem;
  color: var(--colcontrast);
}
.btn{
  padding: var(--button-padding);
  border: none;
  background-color: var(--colmedium);
  font-size: 1.5rem;
  color: var(--colwhite);
  font-weight: 600;
  border-radius: var(--regular-radius);
  margin: 0.8rem;
  transition: .2s;
  cursor: pointer;
}
.btn:hover{
  background-color:var(--colcontrast);  
}
.footer{
background-color: var(--colmedium);
color:var(--collight);
}
.footer-width{
  width: 80%;
  margin: auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}



*,
*::after,
*::before {
  box-sizing: border-box;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border-radius: 1rem;
  background-color: var(--colmedium);
  color: var(--colwhite);
  width: 50%;
  height: auto;
  z-index: 10;
  padding: 2rem;
  font-size: 1.8rem;
  text-align: left;
  box-shadow:var(--card-shadow);
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  display: flex;
  justify-content: space-between;
}
.modal-header h3{
  font-size: 3rem;
}
.modal-header h3 span{
  color: var(--colcontrast);
}
#closeModal {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 600;
  color: var(--colcontrast);
}
#closeModal:hover{
  color: var(--colwhite);
}
#overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, .8);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: 200ms ease-in-out;
  pointer-events: none;

}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

form div{
  margin:1rem 0;
}
.width input{
  display: block;
  width: 100%;
  padding: 1rem;
  border: none;
}
.modal .btn{
  width: 50%;
  transform: translateX(50%);
  background-color: var(--colcontrast);
  color: var(--coldark);
  transition: .3s;
}
.modal .btn:hover {
    background-color: var(--coldark);
  color: var(--colwhite);
}
@media (max-width:60rem){
  .container{
    width: 95%;
  }
.header-width-position {

    transform: translateY(2%);
    flex-direction: column;
    height: 100vh;
    overflow: hidden;

  }
    .header-content-main {

      transform: translateX(1%);



    }
        .header-content-main h1{
    font-size: 3rem;
    text-align: center;
        }
                .header-img img {
                  width: 100%;
                  height: 100%;

                }
  .plant-display{

  top: -10%;
  left: 40%;
}
.most-liked-width {
  flex-direction: column;

}
.container-card-details{
  height: auto;
  width: 90%;
}
.container-card-holder{
  align-items: center;
  flex-direction: column;
}
.container-card {
  width: 55%;
  max-width: 30rem;
  height: 30rem;
}
.container-card-holder.withoutDits {
  width: 55%;
  max-width: 30rem;
  height: 30rem;
}
.headerbtns button i {
  color: var(--colwhite);
}
.headerbtns{
  bottom: 20%;
  z-index: 7;
}
.modal{
  width: 80%;
}
      }